.settings-bar {
    background-color: #222;
    color: #999;
    margin: 0px auto 10px auto;
    padding: 15px 20px;
    max-width: 940px;
    font-family: SuisseLight, HelveticaNeue, "Roboto Thin", Arial, serif;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    -webkit-font-smoothing: auto;
    text-align: center;
}

.settings-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.settings-bar-title {
    margin-bottom: 15px;
}

#sort-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#switch-container {
    display: flex;
    flex-direction: column;
}

.settings-button {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 0 1px 0 5px;
    font-size: 13px;
    color: #999;
    font-family: SuisseRegular;
    -webkit-font-smoothing: auto;
    cursor: pointer;
}

.button-selected {
    color: #eee;
    border: 2px solid #f7520c;
    color: #eee;
    margin: 0 0 0 4px;
}

.menu-item {
    margin: 5px 5px 5px 5px;
}

.separator {
    margin: 0px 10px 0px 10px;
    border-left: 3px solid #333333;
    height: 40px;
}

.feber-input {
    font-size: 13px;
    color: rgb(153, 153, 153);
    font-family: SuisseRegular;
    -webkit-font-smoothing: auto;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(68, 68, 68);
    border-image: initial;
    border-radius: 5px;
    padding: 3px 7px;
}

.hide-element {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flat-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr)) !important;
}

/* Modern Feber Card  */
.card {
    width: 220px;
    height: 270px;
    background: white;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    /* border-radius: 0.5rem; */
}

.article-image {
    position: absolute;
    object-fit: cover;
    height: 8rem;
    width: 100%;
    top: 0;
    left: 0;
}

.temp-box {
    background-color: #222222;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 0;
    top: 1rem;
    /* border-radius: 0 20px 20px 0; */
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    box-shadow: 0 0 5px #222;
}

.temperature {
    font-size: 12px;
    font-weight: 500;
}

.bottom-card {
    margin: 8.3rem 0.8rem 0.8rem 0.8rem;
}

.category {
    font-size: 11px;
    color: #7d7d7d;
    font-weight: 700;
}

.title {
    margin-top: 0.1rem;
    color: #0e0e0e;
    font-weight: 800;
    font-size: 13px;
}

.sub-title {
    margin-top: 0.1rem;
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.card-footer {
    display: flex;
    position: absolute;
    bottom: 0.8rem;
    justify-content: flex-end;
    align-items: center;
    left: 0.8rem;
    right: 0.8rem;
}

.author {
    margin-right: auto;
    font-size: 11px;
    font-weight: 700;
}

.box {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #222222;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    cursor: pointer;
}

.hot-box {
    background-color: #f7520c;
    color: white;
}

.cold-box {
    background-color: #00bfff;
    color: white;
}
